* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

input::placeholder {
  color: #efefef;
}

.main {
  display: flex;
}

.first_section {
  flex-direction: column;
}
section {
  background-color: #302c23;
  width: 25%;
  height: 100vh;
  border-top: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
}
.room {
  font-size: 24px;
  font-weight: bold;
  background-color: #2e2715;
  padding: 8px;
  color: #efefef;
  border-bottom: 1px solid #3f3f3f;
  display: flex;
  align-items: flex-start;
}
.room:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #473f2af8;
}

.name_user_card {
  margin: 0 8px;
}
.avatar_user_card {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

/*!chat */

.header_chat {
  z-index: 10;
  display: flex;
  width: 100%;
  /* justify-content: center; */
  background-color: #36342d;
  align-items: center;
  border-bottom: 1px solid #3f3f3f;
  padding: 10px;
}
.header_chat_picture {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid saddlebrown;
}
.header_chat_name {
  margin-left: 10px;
  font-size: 24px;
  color: #efefef;
}

.auth {
  width: 90%;
  padding: 10px;
}
.login_input {
  width: 100%;
  resize: horizontal;
  background-color: transparent;
  border: 1px solid #d3af5a;
  color: #efefef;
  margin-right: 4px;
}
.login_btn {
  border: 1px solid #d3af5a;
  font-weight: 600;
  background-color: #252016;
  padding: 4px 2px;
  color: #efefef;
  transition: all 0.2s linear;
}

.login_btn:hover {
  background-color: #52462f;
  color: #fff;
  cursor: pointer;
}
.login_btn:active {
  opacity: 0.5;
}

#messages {
  /* background-attachment: fixed; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.message_wrap {
  width: 65%;
}

.message_bubble {
  display: inline-block;
  /* flex-direction: column; */
  text-align: left;
  background-color: #252016;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;

  color: #efefef;
  word-break: break-all;
}
.fix {
  display: inline-block;
  width: 70px;
  height: 15px;
}
/* .message_bubble:last-child {
  text-align: end;
} */
.message {
  z-index: 10;
  padding: 9px 6px;
}
.message_right {
  /* text-align: right; */
  display: flex;
  justify-content: end;
}
.message_text {
  display: inline;
  width: fit-content;
}
/* .message_text::after {
  content: "";
  display: block;
  width: 24px;
  height: 12px;
} */
.message_info {
  display: flex;
  margin-left: auto;
  width: fit-content;
  position: absolute;
  align-items: end;
  bottom: 5px;
  right: 10px;
}
.check {
  display: flex;
  align-items: end;
  width: 20px;
  height: 20px;
  fill: #a3a3a3;
  /* vertical-align: bottom; */
}
.message_right > .message_wrap {
  text-align: right;
}
.timestamp_sent {
  padding: 0 1px 0 4px;
  font-size: 11px;
  color: #9b9b9b;
}

#msgForm {
  z-index: 10;
  padding: 10px 5px;
  background-color: #252016;
}

.msg_input {
  padding: 8px 4px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #d3af5a;
  color: #efefef;
  /* outline: 0;
  box-shadow: 0px 0px 0px 4px #aa941826; */
}
.msg_input:focus,
.login_input:focus {
  border: 1px solid #d3af5a;
  outline: 0;
  box-shadow: 0px 0px 0px 4px #917b0057;
}

.btn_send_msg {
  all: unset;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.btn_send_svg {
  fill: #d3af5a;
  stroke: #252016;
}
.chat_wrap {
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #3f3f3f;
  background-color: #000000;
  width: 75%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.form_control {
  margin-right: 16px;
  width: 100%;
  /* display: flex; */
  /* flex-direction: co; */
}

/*! users modal**/
.btn_users {
  width: 24px;
  height: 24px;
  transition: all 0.2s linear;
}

.btn_users:hover {
  cursor: pointer;
  stroke-width: 2.5;
  stroke: #69182a;
}

.users_container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.832);
}

.close {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-top: 5px;
  fill: gray;
}
.close:hover {
  cursor: pointer;
}

.users_modal {
  width: 65%;
  height: calc(100vh / 1.5);
  top: 0;
  bottom: 0;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(16, 13, 32, 0.925);
  position: absolute;
  text-align: end;
}
.user_cards {
  margin: 10px;
  background-color: #0e011f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.user_card:first-child:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.user_card {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-bottom: 1px solid #888888;
}
.user_card:hover {
  background-color: #20152e;
  border-bottom: 1px solid #666666;
}
.wrap_info {
  margin: 0 8px;
}
.btn_open_chat {
  font-family: "Open-Sans", sans-serif;
  all: unset;
  color: #666666;
  font-size: 20px;
  font-weight: bold;
}

.btn_open_chat:hover {
  color: #888888;
  cursor: pointer;
}
.user_name {
  font-size: 24px;
  font-weight: bold;
  color: rgb(177, 177, 177);
  cursor: pointer;
}
.user-connected {
  color: greenyellow;
}
.user-disconnected {
  color: red;
}
.user-connected:hover {
  color: #18691c;
}
.user-disconnected:hover {
  color: #69182a;
}
/* .users { */
/* flex-direction: column; */
/* } */

/*spinner*/

.spinner_container {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: #acacac;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
